@{
    ViewBag.Title = "Detailed Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html ng-app="postsModel">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="content-container" ng-controller="postDetailController">
        <input type="hidden" name="HiddenpostId" id="HiddenpostId" value="@ViewBag.PostId" />
        @Html.Partial("_header")
        @Html.Partial("_postDetail")
    </div>
</body>
</html>
