<div class="container" style="padding-top: 60px;">

    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6" style="margin-top: 15px;" infinite-scroll="loadMore()" infinite-scroll-disabled='busy' infinite-scroll-distance='0'>
            <div class="well well-sm">
                <form role="form" ng-submit="addpost()">
                    <div class="form-group">
                        <textarea rows="3" cols="50" ng-model="newcontent" placeholder="your post" class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon">by</span>
                                <input type="text" ng-model="postedby" placeholder="anonymous" class="form-control" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <input class="btn btn-primary " type="submit" value="Add post" data-toggle="tooltip" data-placement="right" title="Submit your Post as anonymous user" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="alert-success" class="alert alert-success hidden">
                Thankyou...Your post is successfully saved.
            </div>
            <div id="alert-error" class="alert alert-danger hidden">
                invalid input...
            </div>

            <ul style="list-style: none; padding-left: 0px;">
                <li ng-repeat="post in posts | filter:searchText">
                    @*  <b>{{post.content}}</b>... <a href="post/post/{{post.id}}" style="color: #1155CC; font-size: 14px;">more
                    </a>*@

                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="~/Content/Images/default.png" alt="..." width="35" height="35">
                            @* {{post.postedby}}*@
                        </a>
                        <div class="media-body">
                            {{post.content}}... <a href="post/post/{{post.id}}" style="color: #1155CC; font-size: 14px;">more
                            </a>
                        </div>
                    </div>


                    <div style="padding-top: 10px;">
                        <a data-toggle="collapse" href="#collapse-{{post.id}}" onclick="">
                            <span class="badge">{{post.comments.length}}</span>
                            &nbsp;Comments
                        </a>&nbsp;&nbsp;                        
                            {{post.ups}}&nbsp;<a ng-click="updateLD(1)" href="javascript:void(0);" class="glyphicon glyphicon-thumbs-up"></a>&nbsp;
                            @*<div style="display: inline; height: 100%; margin: 10px; width: 1px; color: lightgray; border: 1px inset;"></div>*@
                        &nbsp;{{post.downs}}&nbsp;<a ng-click="updateLD(0)" href="javascript:void(0);" class="glyphicon glyphicon-thumbs-down"></a>

                        @*on <span>{{post.createdate | date:'MM/dd/yyyy  h:mma'}}</span>*@
                    </div>

                    <div id="collapse-{{post.id}}" class="panel-collapse collapse" style="padding: 7px 0px;">
                        <div class="" ng-repeat="comment in post.comments">
                            <img src="~/Content/Images/default.png" alt="-by" width="25" height="25">&nbsp; {{comment.commenttext}}  <b>{{comment.postedby}}</b>
                            <hr />
                        </div>

                        <div class="form-group">
                            <textarea rows="2" cols="50" ng-model="newcomment[post.id + '']" placeholder="write your comments here..." class="form-control"></textarea>
                        </div>
                        <button class="btn btn-default pull-right" type="button" data-toggle="tooltip" data-placement="right" title="Submit your comment as anonymous user"
                            ng-click="addcomment('post.id')">
                            done</button>

                        <div class="clearfix"></div>

                    </div>
                    <hr style="color: lightgrey; background-color: lightgrey; height: 1px;"></hr>
                </li>
            </ul>

            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>

