<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: lightcyan;">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a href="/Home">
                    <h2>Posts <small>by anonymous users</small></h2>
                </a>
            </div>
            <div class="col-xs-6" style="padding-top: 15px;">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" ng-model="searchText" class="form-control" placeholder="search" ng-keypress="SearchPosts($event)">
                </div>
            </div>

        </div>
    </div>
</nav>
